.shapeCanvas {
  position: absolute;
  top: 50%;
  left: 8rem;
  z-index: 1;
  width: min(50vw, 30rem);
  height: min(50vw, 30rem);
  transform: translateY(-54%);
  pointer-events: none;
  opacity: 0;
}

.canvas {
  display: block;
  width: 100%;
  height: 100%;
}
